/* 재사용할 값 */
:root {
  --body-line-height: 1.5;
}

/* 기본 HTML 스타일 */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: var(--body-line-height);
  }
}
